[user]
	name = Andrew Nee
	email = ndrewnee@gmail.com
[core]
	excludesfile = /Users/ndrewnee/.gitignore_global
	quotepath = off
[diff]
	tool = vimdiff
[http]
	cookiefile = /Users/ndrewnee/.gitcookies
[includeIf "gitdir:~/Projects/haqqex/"]
    path = ~/Projects/haqqex/.gitconfig
[includeIf "gitdir:~/Projects/unleash/"]
    path = ~/Projects/haqqex/.gitconfig
